@font-face {
    font-family: "Geist";
    src: url('../fonts/Geist/Geist-VariableFont_wght.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Geist Mono";
    src: url('../fonts/Geist_Mono/GeistMono-VariableFont_wght.ttf');
    font-weight: normal;
}