@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-VariableFont_wght.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Geist Mono";
  src: url("../fonts/Geist_Mono/GeistMono-VariableFont_wght.ttf");
  font-weight: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.col-1 {
  width: calc(8.3333333333% - 3.2rem);
  margin: 1.6rem;
}

.col-2 {
  width: calc(16.6666666667% - 3.2rem);
  margin: 1.6rem;
}

.col-3 {
  width: calc(25% - 3.2rem);
  margin: 1.6rem;
}

.col-4 {
  width: calc(33.3333333333% - 3.2rem);
  margin: 1.6rem;
}

.col-5 {
  width: calc(41.6666666667% - 3.2rem);
  margin: 1.6rem;
}

.col-6 {
  width: calc(50% - 3.2rem);
  margin: 1.6rem;
}

.col-7 {
  width: calc(58.3333333333% - 3.2rem);
  margin: 1.6rem;
}

.col-8 {
  width: calc(66.6666666667% - 3.2rem);
  margin: 1.6rem;
}

.col-9 {
  width: calc(75% - 3.2rem);
  margin: 1.6rem;
}

.col-10 {
  width: calc(83.3333333333% - 3.2rem);
  margin: 1.6rem;
}

.col-11 {
  width: calc(91.6666666667% - 3.2rem);
  margin: 1.6rem;
}

.col-12 {
  width: calc(100% - 3.2rem);
  margin: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .col-tablet-1 {
    width: calc(8.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-2 {
    width: calc(16.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-3 {
    width: calc(25% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-4 {
    width: calc(33.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-5 {
    width: calc(41.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-6 {
    width: calc(50% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-7 {
    width: calc(58.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-8 {
    width: calc(66.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-9 {
    width: calc(75% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-10 {
    width: calc(83.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-11 {
    width: calc(91.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  .col-tablet-12 {
    width: calc(100% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-1 {
    width: calc(8.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-2 {
    width: calc(16.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-3 {
    width: calc(25% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-4 {
    width: calc(33.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-5 {
    width: calc(41.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-6 {
    width: calc(50% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-7 {
    width: calc(58.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-8 {
    width: calc(66.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-9 {
    width: calc(75% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-10 {
    width: calc(83.3333333333% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-11 {
    width: calc(91.6666666667% - 3.2rem);
    margin: 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  .col-desktop-12 {
    width: calc(100% - 3.2rem);
    margin: 1.6rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: "Geist Mono", serif;
  background: linear-gradient(45deg, #f7e9d7 0%, #f2d5c5 50%, #cdbae5 100%);
  color: #1e1e24;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Geist", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

a {
  color: #1e1e24;
}

button {
  border: none;
}

main {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  flex: 1;
}

.btn {
  width: fit-content;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 0.8rem;
  text-decoration: none;
  font-family: "Geist", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.btn.btn-primary {
  background-color: #008000;
  color: #ffffff;
}
.btn.btn-primary:hover {
  background-color: #004d00;
  text-decoration: none;
}
.btn.btn-success {
  background-color: #7bb35d;
  color: #ffffff;
}
.btn.btn-success:hover {
  background-color: #629647;
  text-decoration: none;
}
.btn.btn-error {
  background-color: #e9383f;
  color: #ffffff;
}
.btn.btn-error:hover {
  background-color: #d6181f;
  text-decoration: none;
}

.bg-dark {
  background-color: #1e1e24;
  color: #ffffff;
}

.border-rounded {
  border-radius: 0.8rem;
}

.txt-error {
  color: #e9383f;
}

#main_header {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: #008000;
  width: 100vw;
  padding: 0 0.5rem;
}
#main_header a.link {
  font-family: "Geist", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 1.6rem;
  text-decoration: none;
  color: #ffffff;
}
#main_header a.logo {
  text-decoration: none;
  margin-left: 1rem;
  font-family: "Geist", sans-serif;
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: bolder;
}

#main_footer {
  padding: 1rem 2rem;
}

#home_page {
  min-height: calc(100vh - 120px);
  background: linear-gradient(45deg, #f7e9d7 0%, #f2d5c5 50%, #cdbae5 100%);
  padding: 2rem;
}
#home_page .home-image {
  margin-bottom: 1rem;
}
#home_page .home-image img {
  width: 100%;
  height: auto;
  max-width: 350px;
}
@media only screen and (min-width: 768px) {
  #home_page .home-image img {
    max-width: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  #home_page .home-image img {
    max-width: 550px;
  }
}
#home_page h2 {
  font-family: "Geist";
  font-size: 5rem;
  color: #ffffff;
  margin: 1rem 0 2rem 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  #home_page h2 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  #home_page h2 {
    font-size: 5rem;
  }
}
#home_page .btn-home {
  background-color: #008000;
  color: #ffffff;
  padding: 1.2rem 2.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.6rem;
  transition: transform 0.2s, background-color 0.2s;
}
#home_page .btn-home:hover {
  background-color: rgba(0, 128, 0, 0.8);
}

#register_page {
  height: 100vh;
}
#register_page > form > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.6rem 0;
  font-family: "Geist", sans-serif;
  font-size: 1.8rem;
}
#register_page > form > label input {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  height: 3.8rem;
  border-radius: 0.8rem;
  border: 1px solid #1e1e24;
  box-sizing: border-box;
}
#register_page > form > label .password-wrapper {
  position: relative;
  width: 100%;
}
#register_page > form > label .password-wrapper > input {
  margin-top: 0;
  padding-right: 3.5rem;
}
#register_page > form > label .password-wrapper i {
  position: absolute;
  right: 1rem;
  top: 35%;
  cursor: pointer;
  color: #5a6a85;
  font-size: 1.2rem;
  transition: color 0.3s;
}
#register_page > form > label .password-wrapper i:hover {
  color: #1e1e24;
}
#register_page > form button {
  display: block;
  width: fit-content;
}
#register_page > form button.btn {
  margin: 2rem auto 0;
}

#login_page {
  height: 100vh;
}
#login_page > form {
  width: 100%;
  max-width: 600px;
}
#login_page > form > label {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 1.6rem 0;
  font-family: "Geist", sans-serif;
  font-size: 1.8rem;
}
#login_page > form > label input {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  height: 3.8rem;
  border-radius: 0.8rem;
  border: 1px solid #1e1e24;
  box-sizing: border-box;
}
#login_page > form > label .password-wrapper {
  position: relative;
  width: 100%;
}
#login_page > form > label .password-wrapper > input {
  margin-top: 0;
  padding-right: 3.5rem;
}
#login_page > form > label .password-wrapper i {
  position: absolute;
  right: 1rem;
  top: 35%;
  cursor: pointer;
  color: #5a6a85;
  font-size: 1.2rem;
  transition: color 0.3s;
}
#login_page > form > label .password-wrapper i:hover {
  color: #1e1e24;
}
#login_page > form button {
  display: block;
  width: fit-content;
}
#login_page > form button.btn {
  margin: 2rem auto 0;
}

#account_page {
  min-height: 100vh;
  background: linear-gradient(45deg, #f7e9d7 0%, #f2d5c5 50%, #cdbae5 100%);
  padding: 2rem 1rem;
  font-family: "Geist Mono";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
@media only screen and (min-width: 768px) {
  #account_page {
    padding: 5rem 0;
  }
}
#account_page h2 {
  font-family: "Geist";
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #account_page h2 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1024px) {
  #account_page h2 {
    font-size: 8rem;
  }
}
#account_page section {
  width: 100%;
  max-width: 600px;
  background: #fffaf5;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #account_page section {
    padding: 4rem;
  }
}
#account_page .account-card h3 {
  font-family: "Geist";
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #1e1e24;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #account_page .account-card h3 {
    font-size: 2.2rem;
  }
}
#account_page .account-section:last-child {
  border-bottom: none;
}
#account_page .account-section .instruction {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #1e1e24;
  line-height: 1.4;
}
#account_page .history-item {
  padding: 1.2rem 0;
  border-bottom: 1px solid #fafafa;
  font-size: 1.4rem;
}
@media only screen and (min-width: 768px) {
  #account_page .history-item {
    font-size: 1.6rem;
  }
}
#account_page .history-item .drink-name {
  color: #1e1e24;
}
#account_page .form-group {
  margin-bottom: 1.5rem;
}
#account_page .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#account_page .form-group input {
  width: 50%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
}
#account_page .form-group .password-wrapper {
  position: relative;
  width: 100%;
}
#account_page .form-group .password-wrapper input {
  width: 100%;
  padding-right: 4rem;
}
#account_page .form-group .password-wrapper .togglePassword {
  position: absolute;
  right: 1.5rem;
  top: 30%;
  cursor: pointer;
  color: #666;
  font-size: 1.8rem;
}
#account_page .form-group .password-wrapper .togglePassword:hover {
  color: #1e1e24;
}
#account_page .btn-account {
  background-color: #436649;
  color: #ffffff;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  transition: transform 0.2s;
  display: block;
  margin: 2rem auto;
}
#account_page .btn-account:hover {
  background-color: rgba(0, 128, 0, 0.9);
}
#account_page .btn-account.btn-delete {
  margin-top: 4rem;
  background-color: #e74c3c;
}
#account_page .btn-account.btn-delete:hover {
  background-color: #c0392b;
}

#quiz_page {
  min-height: 100vh;
  padding-top: 5rem;
  font-family: "Geist Mono";
}
#quiz_page h1 {
  font-size: 5rem;
  font-family: "Geist";
  color: #ffffff;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  #quiz_page h1 {
    font-size: 8rem;
  }
}
@media only screen and (min-width: 1024px) {
  #quiz_page h1 {
    font-size: 10rem;
  }
}
#quiz_page .quiz-card {
  width: 95%;
  padding: 2rem;
  max-width: 800px;
  background: #fffaf5;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(30, 30, 36, 0.1);
}
@media only screen and (min-width: 768px) {
  #quiz_page .quiz-card {
    width: 70%;
    padding: 4rem;
  }
}
@media only screen and (min-width: 1024px) {
  #quiz_page .quiz-card {
    width: 50%;
    max-width: 800px;
  }
}
#quiz_page .quiz-card .question-text {
  font-family: "Geist";
  font-size: 2.2rem;
  color: #1e1e24;
  margin-bottom: 4rem;
  text-align: center;
}
#quiz_page .quiz-card .responses-container {
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
#quiz_page .quiz-card .responses-container .btn-quiz {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid #008000;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: #1e1e24;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}
#quiz_page .quiz-card .responses-container .btn-quiz:hover {
  background-color: rgba(0, 128, 0, 0.05);
}
#quiz_page .quiz-card .link-restart {
  color: #7d4f9d;
  text-decoration: none;
  font-size: 1.6rem;
  margin-top: 1rem;
}
#quiz_page .quiz-card .link-restart:hover {
  text-decoration: underline;
}

#result_page {
  min-height: 100vh;
  background: linear-gradient(45deg, #f7e9d7 0%, #f2d5c5 50%, #cdbae5 100%);
  font-family: "Geist Mono";
  padding: 2rem 1rem;
}
#result_page h1 {
  font-family: "Geist";
  padding: 2rem 1rem;
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 3rem;
  text-shadow: 0 4px 10px rgba(30, 30, 36, 0.1);
}
@media only screen and (min-width: 768px) {
  #result_page h1 {
    font-size: 6rem;
  }
}
#result_page .result-card {
  width: 95%;
  max-width: 900px;
  background: #fffaf5;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
#result_page .result-card .announcement {
  font-size: 1.6rem;
  color: #1e1e24;
  margin-bottom: 4rem;
}
@media only screen and (min-width: 768px) {
  #result_page .result-card .announcement {
    font-size: 2.2rem;
  }
}
#result_page .result-card .announcement strong {
  font-weight: 800;
  font-size: 2.4rem;
}
#result_page .result-card .drink-image {
  margin-bottom: 4rem;
}
#result_page .result-card .drink-image img {
  max-width: 100%;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 768px) {
  #result_page .result-card .drink-image img {
    max-width: 500px;
  }
}
#result_page .result-card .drink-description p {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #1e1e24;
  text-align: center;
}
#result_page .result-card .result-actions {
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
@media only screen and (min-width: 768px) {
  #result_page .result-card .result-actions {
    flex-direction: row;
    gap: 2rem;
  }
}
#result_page .result-card .result-actions .btn {
  padding: 1.5rem 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
